{% extends 'base.html' %} {% block title %} Your Page Title {% endblock %} 
{% block content %}

<div class="form-container"
     style="
      background-color: rgba(0, 123, 255, 0.5);
      padding: 20px;
      border-radius: 10px;
      text-align: center;
      "
  >
  <h2 style="background-color: yellowgreen;">Welcome to  CHILD IMMUNIZATION TRACKING SYSTEM</h2>
  <br />
  <h3 style="color: rgb(29, 58, 59);">Get ready to Keep your child safe with easy record keeping</h3>
  <br />
  <form
    action="{% url 'signup' %}"
    method="get"
    style="
      background-color: rgba(22, 21, 21, 0.8);
      padding: 20px;
      border-radius: 10px;
    "
  >
    <button
      type="submit"
      style="
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
      "
    >
      Create Account
    </button>
  </form>
  <br />
  <form
    action="{% url 'login' %}"
    method="get"
    style="
      background-color: rgba(22, 21, 21, 0.8);
      padding: 20px;
      border-radius: 10px;
    "
  >
    <button
      type="submit"
      style="
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
      "
    >
      Already have an account
    </button>
  </form><br>
  <form
    action="{% url 'login' %}"
    method="get"
    style="
      background-color: rgba(22, 21, 21, 0.8);
      padding: 20px;
      border-radius: 10px;
    "
  >
    <button
      type="submit"
      style="
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
      "
    >
      <a href="http://127.0.0.1:8000/admin/">Admin Access?</a>
    </button>
  </form>
</div>
{% endblock %}
