body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .content-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
  }
  
  form {
    background-color: rgba(128, 0, 70, 0.3); /* Transparent green background */
    padding: 20px;
    border-radius: 10px;
    width: auto;
    max-width: 600px;
  }
  
  h1, h4 {
    color: white;
    text-align: center;
    margin-top: 0;
  }
  
  form p {
    color: #f8ebeb; /* Golden text */
    font-size: 2.2rem; /* Larger text size */
  }
  
  form input, form select, form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: darkgreen;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  